<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Aadfaf2a2e9ece401c76403fc607294684a2234dc2afc163eec6103cce5d39461&amp;width=500&amp;height=400&amp;lang=en_FR&amp;scroll=true"></script>
<iframe src="https://yandex.com/map-widget/v1/?um=constructor%3Aadfaf2a2e9ece401c76403fc607294684a2234dc2afc163eec6103cce5d39461&amp;source=constructor" width="500" height="400" frameborder="0"></iframe>

<!DOCTYPE html>
<html>
    <head>
        <title>Example with an interactive map</title>
    </head>
    <body>
        <div style="width: 300px; height: 200px;">
            <script type="text/javascript" charset="utf-8" src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A053bd947d462cc1a45aeba4070defff75501905071c0eaf68436ac9976ec698c&width=514&height=326&lang=en_US&apikey=<API-key>"></script>
        </div>
    </body>
</html>