{% extends 'main.html' %}

{% block content %}

{% if eventObj.eventstatus == 'canceled' %}
<h1 style=color:darkred><b>This {{eventObj.type}} is canceled </b></h1><br>
{% endif %}

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">

<style>
body {
    background: #eee
}

.filter {
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px
}

.profiles img {
    margin-right: -6px
}

.col-md-4 {
    margin-top: 26px
}  
</style>

<div class="container mt-5 mb-5">
    <div class="row mt-1">
        <div class="col-md-4">
            <div class="p-card bg-white p-2 rounded px-3">
                <div class="d-flex align-items-center credits"><img src="https://i.imgur.com/hlz6G90.png" width="16px"><span class="text-black-50 ml-2">{{eventObj.credits}} credits</span></div>
                <h5 class="mt-2">{{eventObj.title}}</h5><span class="text-black-50 ml-2">{% if eventObj.type == 'event' %} Offer {% else %} {{eventObj.type}} {% endif %}</span><br><img src="{{eventObj.picture.url}}" width=100% height="300px"><span class="d-block mb-5">{{eventObj.description}}</span>
                <div class="d-flex justify-content-between stats">
                    <div><i class="fa fa-calendar-o"></i><span class="ml-2">{{eventObj.numberOfParticipants}} participants</span><br><i class="fa fa-calendar-o"></i><span class="ml-2">Location: {{eventObj.location}}</span></div>
                    <div class="d-flex flex-row align-items-center">
                        <div class="profiles"><img class="rounded-circle" src="{{eventObj.owner.picture.url}}" width="60"></div><span class="ml-3">&nbsp;provider: <a href="/profile/{{eventObj.owner}}">{{eventObj.owner}}</a></span>
                    </div>
                </div>
                <div class="d-flex justify-content-between stats">
                    <div><i class="fa fa-calendar-o"></i><span class="ml-2">Date:{{eventObj.date}} </span><br><i class="fa fa-calendar-o"></i><span class="ml-2">Time: {{eventObj.time}}</span></div>
                    <div><i class="fa fa-calendar-o"></i><span class="ml-2">Tags:{%for tag in hashtags%} {{tag.name}} {% endfor %} </span></div>
                </div>
                <div class="d-flex justify-content-between stats">
                    <div><i class="fa fa-calendar-o"></i><span class="ml-2"><a href="/event/{{eventObj.offerid}}">View</a></span></div>
                    <div><i class="fa fa-calendar-o"></i><span class="ml-2"><a href="/updateevent/{{eventObj.offerid}}">Edit</a></span></div>
                    <div><i class="fa fa-calendar-o"></i><span class="ml-2"><a href="/deleteevent/{{eventObj.offerid}}">Change Status</a></span></div>
                </div>
            </div>
        </div>
    </div>

</div>

<!---->
<div class="container mt-5 mb-5">
    <div class="row mt-1">
        <div class="col-md-4">
            <div class="p-card bg-white p-2 rounded px-3">
                <h6 class="mt-2">Location Map</h6><span class="text-black-50 ml-2" width="380px" height="300px">{{m | safe}}</span>
            </div>
        </div>
    </div>

</div>


<!---->

</html>

<!--------------------------->

{% if profile != eventObj.owner and eventObj.eventstatus == 'inprogress' %}

    {% for i in attendanceObj %}
    {% if i.status == 'approved' and i.owner.userid == profile.userid %}
    <h3 style=color:darkgreen>You will be attending</h3>
    {% elif i.status == 'rejected' and i.owner.userid == profile.userid %}
    <h3 style=color:darkred>You are unfortunately not attending</h3>
    {% endif %}
    {% endfor %}

    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
            
        <h5>If you want to attend, press the button "Attendance Request":</h5>
        {{form.as_hidden}}
        {{ form.status.as_hidden }}
            
        <input type="submit" value="Attendance Request">
    </form>

{% elif profile != eventObj.owner and eventObj.eventstatus == 'done' %}
    {% for i in attendanceObj %}
        {% if profile.userid == i.owner.userid and i.status == 'approved' %}
        <h5>Did you attend, then please complete the <a href="/exchange/{{eventObj.offerid}}/{{i.owner.userid}}">Handshake!</a></h5>
        {% endif %}
    {% endfor %}



{% else %}
    <h3>Attendance Requests:</h3><br>
    {% for i in attendanceObj %}
        {% if i.status == 'approved' %}
        <p>{{i.owner}} will be attending</p>
        {% elif i.status == 'rejected' %}
        <p>{{i.owner}} unfortunately not attending</p>
        {% elif i is empty %}
        <p>No one</p>
        {% else %}
            <a href="/event/{{eventObj.offerid}}/{{i.owner.userid}}">{{i.owner}}</a>
        {% endif %}
    {% endfor %}
              
{% endif %}


<!--------------->

<br>
<h5>Do you have something to tell? <a href="/feedback/{{eventObj.offerid}}">Feedback!</a></h5><br>
<h5>Feedbacks: </h5>
{% for i in feedbackObj %}

<h5><img src="{{i.owner.picture.url}}" width="30 px" height="50 px">{{i.owner.name}}&nbsp;{{i.owner.surname}}</h5>
<p>{{i.value}}</p>
<p>{{i.body}}</p>

{% endfor %}
    
{% endblock %}